certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
flask==2.2.5
flask-cors==5.0.0
idna==3.10
importlib-metadata==6.7.0
itsdangerous==2.1.2
jinja2==3.1.6
markupsafe==2.1.5
requests==2.31.0
typing-extensions==4.7.1
urllib3==2.0.7
werkzeug==2.2.3
zipp==3.15.0
